$white-15: rgba(255, 255, 255, 0.15);
$greyF5: #F5F6FA;
$greyF6: #F6F6F6;
$greyF0: #F0F2F5;
$greyEB: #EBEDF0;
$greyEE: #EEEFF0;
$greyE1: #E1E1E1;
$greyDF: #DFE6EC;
$greyB2: #B2BECD;
$grey81: #818BA5;
$grey37: #373D4D;
$grey26: #26282D;
$greyDF: #DFE6EC;
$blueB0: #d5d6d8;
$black07: #071516;
$greyDe: #DEDEDE;
$grey57: #57617A;
$blue1C: #1C37E0;
$blue19: #199DFF;
$green22: #22D089;
$green01: #018e98;
$orange: #FFB500;
$orangeE2: #e27e5c;
$red: #FF5F7E;

$white: #FFFFFF;
$greyE1: #c1bebe; // contour
$grey26: #26282D;
$grey57: #57617A;
$grey2F: #2F3B52;
$greyf6: #f6f7fb;
$black: #000000;
$blue19: #199DFF;
$blue1F: #1F8EFA;
$green22: #22D089; //pour le menu des plaques dans le sidebar
$green01: #018e98; //diplomatique background
$orange: #FFB500;
$orangeE2: #e27e5c; // diplomatique color/ border
$orangeE3: #E39026; // tunnel orange color
$red: #FF5F7E;
$redF1: #F13959;
$smartHouse: #252e41;
$shadow198-05: rgba(198, 203, 208, 0.5);
$greyDF: #DFE6EC;
$green64: #64ffda;
