//$white-15: rgba(255, 255, 255, 0.15);
//$greyF5: #F5F6FA;
//$greyF6: #F6F6F6;
//$greyF0: #F0F2F5;
//$greyEB: #EBEDF0;
//$greyEE: #EEEFF0;
//$greyE1: #E1E1E1;
//$greyDF: #DFE6EC;
//$greyB2: #B2BECD;
//$grey37: #373D4D;
//$grey26: #26282D;
//$greyDF: #DFE6EC;
//$blueB0: #d5d6d8;
//$black07: #071516;
//$greyDe: #DEDEDE;
//$grey57: #57617A;
//$blue1C: #1C37E0;
//$blue19: #199DFF;
//$green22: #22D089;
//$green01: #018e98;
//$orange: #FFB500;
//$orangeE2: #e27e5c;
//$red: #FF5F7E;

$blue19: #199DFF;
$green22: #22D089;
$orange: #FFB500;
$red: #FF5F7E;
$grey81: #818BA5;
$grey25: #252e41;

.mt10 { margin-top: 10px }
.mt20 { margin-top: 20px }
.mt30 { margin-top: 30px }
.mt40 { margin-top: 40px }
.mt50 { margin-top: 50px }
//right
.mr10 { margin-right: 10px }
.mr20 { margin-right: 20px }
.mr30 { margin-right: 30px }
.mr40 { margin-right: 40px }
.mr50 { margin-right: 50px }
// bottom
.mb10 { margin-bottom: 10px }
.mb20 { margin-bottom: 20px }
.mb30 { margin-bottom: 30px }
.mb40 { margin-bottom: 40px }
.mb50 { margin-bottom: 50px }
// left
.ml10 { margin-left: 10px }
.ml20 { margin-left: 20px }
.ml30 { margin-left: 30px }
.ml40 { margin-left: 40px }
.ml50 { margin-left: 50px }
